*{
    
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

body{
    background-color: #faebd7 !important;
  
}
.img{
    width: 55%;
    
}
.container-fluid{
    background-color: rgb(255, 128, 128);
    border-bottom: 2px solid #444444;

}

/*HEADER*/
.navbar{
    padding: 0 !important;
    

}
.navbar-nav .me-auto .mb-2 .mb-lg-0{
    margin-right: 120px !important;
}
.nav-link{
    color:#faebd7 !important;
    font-size: 22px !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  
}
.nav-link:hover{
    border-bottom:0.5px solid #fff !important;
}
.btn-outline-success{
    --bs-btn-color: #ffff !important;
    --bs-btn-border-color: #4444 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #4444 !important;
    --bs-btn-hover-border-color: #fff !important;
    --bs-btn-active-bg: #000000 !important;
    --bs-btn-active-border-color: #4444 !important;
    
}
.btn{
    font-size: 20px !important;
}


/*FIN DEL HEADER*/


/*INICIO DEL MAIN*/

.main__title{
    text-align: center;   
}

.h1-title{
    margin-top: 40px;
   
    color: #444444;
    font-size: 50px;
}
.h2-title{
    font-size: 30px;
    color: #444444;
}
.main__img__conteiner--muestra{
    width: 100%;
    height: 85%;
}


.main__h2--title{
    text-align: center;
    font-size: 25px;
    color:  #faebd7;
    padding: 6px;
    background-color: rgb(255, 128, 128);
    border-top:2px solid #444444;
    border-bottom:2px solid #444444;
    margin:40px 18px;

}
.main__muestra--divp{
    width: auto;
    position: relative;
    text-align: center;

}
.main__precio{
    position: absolute;
    margin-top: -50px;
    background-color: rgb(255, 128, 128);
    display: none;
    color: #fff;
    padding:10px;
    border:1px solid #faebd7;
    width: 100%;
    opacity: 85%;

}
.main__muestra_cont:hover .main__precio{
    display: block;
    
    
}
/*PRODUCTOS*/

.container__main{
    display: grid;
    grid-template-columns:1fr 3fr ;
    grid-template-rows: 1fr;
    grid-template-areas: "menu productos"
                          ;

    margin-top: 30px;

}
.container-xl{
    grid-area: productos;
}
.main__categoria{
    grid-area: menu;
   
}
.main__tittle--li{
    list-style: none;
    padding: 20px;
}
.main__tittle--li a{
    text-decoration: none;
    color: #444444;
    font-size: 20px;
    
}
.main__ul--subcat{
    margin-left: -30px;
}

.main__li--submenu{
    list-style: none;
    padding: 10px;
}
.main__li--submenu a{
    text-decoration: none;
}
.main__catalogo--contenedor{
    align-items: center;
}
.main__catalogo--parrafo{
    width: 100%;
    background-color: #202020;
    color: #faebd7;
    text-align: center;
    padding: 10px;
    opacity: 90%; 
    margin-top: -65px;
}
.main__catalogo--img:hover{
    border: 1px solid #444444;

}
.main__img__conteiner--muestra{
    width: 100%;
   
}
/*REGISTRARSE*/
.main__register{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content:center ;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .main__login__contenedor{
     margin: 40px auto;
      width: 100%;
      height: 100%;
      padding-top: 80px;
      background-color: #444444;
     margin: auto;
      text-align: center;
 
      
      
  } 
  .main__h2--login{
      font-size: 30px;
      color: #fff;
  }
  
  .submit{
      margin: 17px;
  }
  .main__sumbit{
      padding: 20px;
      width: 70%;
  }
  
  .main__calendario{
      font-size: 25px;
      color: #fff;
      padding: 15px;
  }
  .main__sx--title{
      padding: 10px;
      color: #fff;
  }
  .main__sx{
      padding: 10px;
      color: #fff;
      background-color: #444444;
      margin:10px;
      border:2px solid #faebd7; 
  }
  .main__sumbit--cal{
      margin: 10px 4px 10px 10px;
  }
  label{
      display: inline-block;
      padding: 10px 0px 10px;
  }
  
  .main__buttom{
      padding: 20px;
      background: rgb(0, 0, 0);
      font-size: 20px;
      color: #fff;
      border: 1px solid #faebd7;  
      margin-bottom: 10px;
  }
  .contenedor__registrar{
    padding: 80px !important;
    }


  /*NOSOTROS*/
.contenedor__nosotros{
    text-align: center;
    font-size: 20px;
    
}
.main__h2--equipo{
    background-color: #444444;
    margin: 10px;
    color: #ffff;
    padding: 5px;
}
.main__img{
    width: 100%;
}
.main__equipo{
    display: flex;
    padding: 10px;
    text-align:center;
    
}
.main__equipo--personas{
    margin: 5px;
}
.main__equipo--img{
    width: 100%;
    border-radius: 50%;
}

/*FOOTER*/
.footer{
    background-color: rgb(255, 128, 128);
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    grid-area: footer;
    border-top: 2px solid #444444;
    overflow: hidden;
}
.footer__h2{
    text-align: center;
    color: #ffff;
}
.footer__imgicon{
    width: 40px;
    height: 40px;
    margin: 8px;
    
}
.footer__icon{
    align-items: center;
    display: flex;
}
.footer__p{
    font-size: 20px;
    padding: 15px;
    color:#faebd7;

}
@media screen and (max-width: 768px){
    .nav-link{
        text-align: center !important;
        
    }

    /*FOOTER*/

    .footer__p{
        font-size: 15px;
    }
    /*PRODUCTOS*/
    .main__img__conteiner--muestra{
        width: 100%;
        height: 97%;
    }

    .container__main{
        display: flex;
        flex-direction: column;
        text-align: center;
       
    }
    .main__categoria{
        background-color: #444444;
        margin-bottom: 40px;
    }
        
    .main__tittle--li a{
        color: #ffff;
    }
    .main__ul--subcat{
        display: none;
    }
    .main__ul--categoria{
        margin: auto;
        margin-left: -30px;
    }

    .main__ul--categoria:hover .main__ul--subcat{
        display: block;
    }
    /*SOBRE NOSOTROS*/
  
    .main__equipo{
        display: flex;
        padding: 10px;
        text-align:center;
        flex-direction: column;
        
    }
    .main__equipo--img{
        width: 70%;
        border-radius: 50%;
    }
    
    /*REGISTRAR*/

    .main__sumbit{
        width: 90%;
    }
    .contenedor__registrar{
        padding: 30px !important;
    }



}

@media screen and (max-width:320px){
    /*PRODUCTOS*/
    .container__main{
        display: flex;
        flex-direction: column;
        text-align: center;
       
    }
    .main__categoria{
        background-color: #444444;
        margin-bottom: 40px;
    }
        
    .main__tittle--li a{
        color: #ffff;
    }
    .main__ul--subcat{
        display: none;
    }
    .main__ul--categoria{
        margin: auto;
        margin-left: -30px;
    }

    .main__ul--categoria:hover .main__ul--subcat{
        display: block;
    }

    /*NOSOTROS*/
    .main__equipo{
        display: flex;
        padding: 10px;
        text-align:center;
        flex-direction: column;
        
    }
    .main__equipo--img{
        width: 100%;
        border-radius: 50%;
    }
    /*REGISTRAR*/
    .contenedor__registrar{
        padding: 30px 0 !important;
    }
}